html {
  font-size: $base-font-size;
  
  @include respond-to(large_screen) {
    font-size: $base-font-size * 0.9;
  }
  @include respond-to(large_screen) {
    font-size: $base-font-size * 0.70;
  }
}

body {
  width: auto;
  height: auto;
  font-family: $serif;
  font-weight: $normal;
  @include font-size(15);
  //@include respond-to(large_screen) { font-size:95%;} 
  //@include respond-to(medium_screen) { font-size:40%;}
}


a img {
  border: none;
}

p {
  // font-size: 100%;
  //line-height: 24px;
  // margin-left: 16px;
  // margin-bottom: 24px;
  // width: 85%;
  @include font-size(17);
}

h1 {
  @include font-size(26);
  //width: 85%;
}

h2 {
  @include font-size(20);
  width: 85%;
}

h3 {
  @include font-size(14);
  font-weight: $normal;
}

h2 span {
  font-size: 70%;
}

h3 {
  i, em {
    font-size: 70%;
  }
}

blockquote {
  width: 90%;
  margin: 28px 0;
  font-style: italic;
  p {
    font-size: get_em(16px);
    margin-left: 0;
  }
  span {
    display: block;
    font-family: $sans-serif;
    font-size: get_em(13px);
    font-style: normal;
    margin-top: 6px;
  }
}

ul {
  list-style: none;
}

/* user agentoverride chrome */
figure {
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
}

.project-control {
  display:none;
}

.shadow {
  /* offset-x offset-y blur-radius spread-radius color */
  -moz-box-shadow: 0px 0px 6px 2px #dcdcdc;
  -webkit-box-shadow: 0px 0px 6px 2px #dcdcdc;
  box-shadow: 0px 0px 6px 2px #dcdcdc;
  /* see ie6 */
}

/*
	STRUCTURE
*/
.global-header {
  height: auto;
  padding-top:10px;
  padding-bottom: 10px;
  width:100%;
  margin: 0 auto;
  background-color: $navy; 
  position: fixed;
  top:0;
  z-index: 500;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.75);
  box-shadow: 0 0 10px rgba(0,0,0,0.75);

  @include respond-to(760px) {
    padding-top: 5px;
    padding-bottom: 5px;   
  }


}



.page-content {
  @include grid-3-3-plus-margins;
  max-width: $max-page-content-width;
  float: none;
  margin: 0 auto;
  overflow:hidden;
  padding-top: 135px;
  padding-bottom: 4%;
  @include respond-to(large_screen) {
    padding-top: 70px;
  }

  .home & {
    padding-top: 85px;
  }

}

.page-head {
  height: 100%;
  background-color: $white;
}

.page-head {
  @include grid-3-3-plus-margins;
  padding-bottom: 50px;
  
  h1 {
    font-family: $sans-serif;
    @include font-size(47);
    font-weight: $bold;
    border-bottom: 4px solid $lightblue;
    padding-bottom: 20px;
    margin-bottom: 25px;
    
    @include respond-to(large_screen) { 
      //@include font-size(24);
      font-weight: $bold;
      border-bottom: 2px solid $lightblue;
      padding-bottom: 10px;
      margin-bottom: 12px;
    } 

  
  }

  p {
    @include font-size(22);
    color:$black;
    font-weight: $normal; 
    line-height: 1.2;
    width: 66.333%; 
    
    @include respond-to(large_screen) {
      //@include font-size(17);
      width: 100%;
    } 
  }
}