#footer {
  width: 100%;
  height: auto;
  position: relative;
  //background-image: url('../images/tile-footer-default.gif');
  background-repeat: repeat-x;
  text-align: right;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
  font-family: $sans-serif;
  font-style: normal;
  ul {
    height: auto;
    margin: 0 auto;
    padding-right: 38px;
    @include font-size(14);
    float: right;
    color: $lightblue;
    li {
      float:left;
    }
    a {
      padding: 10px;
      text-decoration: none;
      color: $lightblue;
      &:hover {
        color: $lightgrey;
      }
    }

  }
}