h2 {
    margin-bottom:0;
}
.message {
    margin-top: 5px;
}
.req {
    font-size: 18px;
    color:$lightblue;
    font-style: italic;
    margin-bottom:20px;
}

form {
	height:auto;
	margin:0 auto;
	font-family: $sans-serif;
}

.confirmation-message {
    padding: 10px;
    background-color: $lightblue;
    border-left: 10px solid $navy;
    margin-bottom: 40px;


    h2 {
        font-size: 18px;
        color: $white;
    }
    p {
        font-size: 14px;
        font-family: $serif;
        color: $navy;
    }

}

legend {
	font-weight: bold;
	margin-bottom: 20px;
}

input, textarea {  
    padding: 9px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    width: 95%;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    margin-bottom: 20px;
    }  


textarea, .subject {  
    //width: 400px; 
}
textarea {    
    //max-width: 400px;  
    height: 150px;  
    line-height: 150%;  
    }  
input:hover, textarea:hover,  
input:focus, textarea:focus {  
    border-color: $lightgrey;  
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
    }  
label {  
    display: block;  
    color: $navy;
    line-height: 1.5em;
    @include font-size(20);
    
    span {
        color:red;
        font-style: italic;
        text-transform: lowercase;
        font-size: 85%;

    }

}  
input[type=submit] {
    @include button;
	display:block;    
    }  