// Float all grid blocks left to let them flow
%grid-1-3-plus-margins,%grid-2-3-plus-margins,%grid-3-3-plus-margins,
%grid-1-3-flush,%grid-2-3-flush,%grid-3-3-flush {
  float:left;
}


// Grid with 2% left & right margins
@mixin grid-1-3-plus-margins {
  width: 29.33333%;
  margin: 0 2%;
  float:left;
  @include respond-to(large_screen) { 
    width:46%; 
  } 
  @include respond-to(medium_screen) { 
    width:96%; 
  }   
}

@mixin grid-1-2-plus-margins {
  width: 46%;
  margin: 0 2%;
  float:left;
  @include respond-to(large_screen) { 
    width:46%; 
  } 
}


@mixin grid-2-3-plus-margins {
 width:62%;
 margin: 0 2%;
 float:left;
}
@mixin grid-3-3-plus-margins {
 width:96%;
 margin: 0 2%;
 float:left;
}


// Grid flush left and right
@mixin grid-1-3-flush {
  width: 33.33%;
  margin: 0;
  float:left;
  @include respond-to(large_screen) { 
    width:50%; 
  }
}

@mixin grid-1-2-flush {
  width: 50%;
  margin: 0 0;
  float:left;
  @include respond-to(large_screen) { 
    width:50%; 
  } 
}

@mixin grid-1-2-flush-right {
  width: 48%;
  margin: 0 0 0 2%;
  float:left;
  @include respond-to(large_screen) { 
    width:50%; 
  } 
}

@mixin grid-1-2-flush-left {
  width: 48%;
  margin: 0 2% 0 0;
  float:left;
  @include respond-to(large_screen) { 
    width:50%; 
  } 
}



@mixin grid-2-3-flush {
 width:66.66%;
 float:left;
}
@mixin grid-3-3-flush {
 width:100%;
 float:left;
}
