// image replacement
@mixin replace {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin debug {
	outline: 1px solid red;
} 

@mixin button {
	display:inline-block;
	font-family: $headingFont;
	font-weight: bold;
	color: $white;
	text-decoration: none;
	cursor: pointer;
}

@mixin transitionAll($duration:0.5) {
	@include transition-property(all);
	@include transition-duration($duration + s);	
}

@mixin transitionWidth($duration:0.5) {
	@include transition-property(width);
	@include transition-duration($duration + s);	
}

@mixin transitionHeight($duration:0.5) {
	@include transition-property(height);
	@include transition-duration($duration + s);	
}

// transition specific property
@mixin transition($property, $duration: 0.5) {
	@include transition-property($property);
	@include transition-duration($duration + s);	
}

// Size Fonts with rem and px fallback
@mixin font-size($sizeValue: 15) {
  font-size: ($sizeValue * 1) + px;
  font-size: ($sizeValue * 1) + rem;
}
@mixin line-height($sizeValue: 15) {
  line-height: ($sizeValue * 1) + px;
  line-height: ($sizeValue * 1) + rem;
}

@function get-em($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}
@mixin px_to_rem( $property, $pxValue) {
  #{$property}: ($pxValue * 1) + px;
  #{$property}: ($pxValue * 1) + rem;
}




@mixin respond-to($screen) {
	 // xl_screen
	 @if ($screen == 'xl_screen'){
		 @media all and (min-width: $xl_screen) {
		  @content
		 }
	 }
	 // large_screen
	 @else if ($screen == 'large_screen'){
		 @media all and (max-width: $large_screen) {
		  @content
		 }

	 }
	 // medium_screen
	 @else if ($screen == 'medium_screen'){
		 @media all and (max-width: $medium_screen) {
		  @content
		 }
	 }
	 // small_screen
	 @else if ($screen == 'small_screen'){
		 @media all and (max-width: $small_screen) {
		  @content
		 }
	 }
	 // Custom Scenario where $screen is a pixel width
	 @else {
		 @media all and (max-width: $screen) {
		  	@content
		 }
	 }
}

@mixin button($background:$navy, $color:$white) {  
    width: auto;
    padding: 15px 45px;  
    background: $background;  
    border: 0;  
    @include font-size(15);  
    color: $color;  
    @include border-radius(5px);
    cursor: pointer;
    text-decoration: none; 	
}

// Tooltip
 
@mixin tooltip($size: 5px, $dir: left, $bgcolor: #000) {
  background: $bgcolor;
  position: relative;
  &:before {
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    @if (($dir == top) or ($dir == bottom)) {
      border-color: $bgcolor transparent;
      left: 50%;
      margin-left: -$size;
    } @else {
      border-color: transparent $bgcolor;
      margin-top: -$size;
      top: 50%;
    }
    @if ($dir == top) {
      border-width: 0 $size $size $size;
      top: -$size;
    }
    @if ($dir == right) {
      border-width: $size 0 $size $size;
      right: -$size;
    }
    @if ($dir == bottom) {
      border-width: $size $size 0 $size;
      bottom: -$size;
    }
    @if ($dir == left) {
      border-width: $size $size $size 0;
      left: -$size;
    }
  }
}

@mixin background-size($size-1: $default-background-size, $size-2: false, $size-3: false, $size-4: false, $size-5: false, $size-6: false, $size-7: false, $size-8: false, $size-9: false, $size-10: false) {
  $size-1: if(type-of($size-1) == string, unquote($size-1), $size-1);
  $sizes: compact($size-1, $size-2, $size-3, $size-4, $size-5, $size-6, $size-7, $size-8, $size-9, $size-10);
  @include experimental(background-size, $sizes, -moz, -webkit, -o, not -ms, not -khtml);
}


