/*
  GLOBAL NAVIGATION
*/

.logomark {display:none;}

.main-navigation {
  @include grid-3-3-plus-margins;

  height: 100%;
  float:none;
  max-width: $max-global-nav-width;
  margin: auto;
  // caused weirdness with height
  //overflow:auto;

  // adjust for hamburger nav
  @include respond-to(large_screen) {
    width: 100%;
    margin: 0;
    float: left;
  }

  .home-link {
    float:left;
    display: block;
    width: 243px;
    left: 0;
    z-index: 99;
    overflow: hidden;

    @include respond-to(large_screen) {
      width: auto;
      height: 45px;
      margin-left: 2%;     
    }

    @include respond-to(450px) {

    }

    img {
      border: none;
      //width:100%;
      
      // crop and resize logo
      @include respond-to(large_screen) {
        height: 100%;
      }

    }




  }

  .menu-toggle {
    @include font-size(20);
    z-index: 98;
    height: 45px;
    line-height: 45px;    
    float:right;
    right: 0;
    font-family: $sans-serif;
    color: $white;
    cursor:pointer;
    display:none;
    
    .fa-bars {margin-right: 7px}

    @include respond-to(large_screen) {
      @include transitionAll;
      display:block;
      margin-right: 2%;
    }

    &.is-open {
      color: $lightblue ;
    }
  }
  
  // ul of site links
  .global-page-menu {
    // width: 100%;
    // position: absolute;
    float:right;
    right: 0;
    display: block;
    font-family: $sans-serif;
    @include font-size(18);
    z-index: 98;
    height: 74px;
    line-height: 74px;
    @include transitionAll;
    @include respond-to(large_screen) {
      float:left;
      display: none;
      width: 100%;
      height: auto;
      @include font-size(15);
      line-height: 40px;
    }

    &.is-open {
      display:block;
      padding: 8px 0 0 0;
    }

    li {
      float: left;

      @include respond-to(large_screen) {
        float:none;
        border-top: 1px solid $lightblue;
        padding: 0 17px;
      }
      &.main {
        height: 74px;
        line-height: 74px;
        @include respond-to(large_screen) {
          height:auto;
          line-height: 1.75em;
        }


        a {
          display:block;
          height: 74px;
          line-height: 74px;
          color: $lightblue;
          font-weight: $light;
          padding: 0 17px;
          text-decoration: none;

          @include respond-to(large_screen) {
            width:100%;
            height:auto;
            padding: 0;
            line-height: 3em;
          }
          
          &:hover, &.current-menu-item {
            @include transitionAll;
            color: $white;
          }                 
        }
      }
    }
  }
}