
#jpreOverlay {
	background-color:#FFF;
	width:100%;
	height:100%;
	position:fixed;
	bottom:0;
	left:0;
	z-index:11
}
#jpreSlide {
	font-size:22px;
	font-weight:700;
	color:#FFF;
	text-align:center;
	width:100%
}
#jpreLoader {
	width:100px;
	height:100px;
	background:url(../images/JCam-preloader-sprite.png) 0 100% no-repeat;
	position:fixed;
	top:43%;
	left:50%;
	z-index: 900;
	margin-left:-50px;
	margin-top:-50px
}
// background position moves right for each percentage point
#jpreBar {
	width:100px;
	height:100px;
	position:absolute;
	bottom:0;
	background:url(../images/JCam-preloader-sprite.png) -100px 100% no-repeat
}
#jprePercentage {
	color:#888;
	text-align:center;
	position:absolute;
	height:30px;
	width:100px;
	bottom:-40px
}
