/* 
	THEME COLORS 
	Blue:			#0076aa 
	Dark Grey: 		#4c4c4c
	Light Grey: 	#dedede
	Brown:			#716658 -> $navy
	Light Orange: 	#f7931e 
	Dark Orange: 	#f15a29
*/

/* Default Theme */

body {
  color: $navy;
  background-color: $white;
}

/* Blue */

#nav li.main a {
  color: $white;
  &:hover, &.current {
    color: $lightblue;
  }
}

blockquote p, a, h2 {
  color: $navy;
}

/* Nav Hover Color: Blue */

#nav {
  li.main {
    a {
      &:hover, &.current {
        background-position: 0 -62px;
      }
      color: $lightblue;
    }
    background-position: 0 0;
  }
  .sub-nav li a {
    color: $lightblue;
  }
}

/* Dark Grey */

/* Light Grey */

.project {
  a.thumb, h3 {
    border-color: $lightgrey;
  }
}

h1 {
  color: $navy;
}
