// COLORS
$white: #ffffff;
$navy: #30383c;
$lightblue: #7e939e;
$darkgrey: #7f7f7f;
$lightgrey: #dedede; // or 
$black: #4c4c4c;
$faintgrey: #ececec;                             

// Fonts
$sans-serif: "proxima-nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
$serif: "museo-slab", Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
$base-font-size: 1px;

// Font Weights
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

$xl_screen: 1080px;
$large_screen: 760px;
$medium_screen: 480px;
$small_screen: 320px;





// Max Widths
$max-global-nav-width: $xl_screen + 100px;
$max-page-content-width: $xl_screen;

