/*
	Portfolio Page
*/

.portfolio {
   .page-head {
      padding-bottom: 20px;
   }
}
/* create a wrapper for projects
*  to allow for project transitions 
*/
.projects {
  float:left;
  position:relative;
  overflow:hidden;
}



.project-item {
  @include grid-1-3-plus-margins;
 // @include transitionAll;
  vertical-align: top;
  padding-bottom: 30px;
  margin-bottom: 10px;
  @include respond-to(large_screen) {padding-bottom: 15px; }
  
  .project-item_title {
    max-width: 100%;
    font-family: $sans-serif;
    @include font-size(20);
    @include respond-to(900px) { @include font-size(17);} 
    color: $navy;
    padding-top: 15px;
    margin-bottom: 15px;
    border-top-width: 4px;
    border-top-style: solid;
    
    @include respond-to(large_screen) {
      border-top-width: 2px;
    }    
  
  }
  strong {
    font-family: $sans-serif;
  }
  p {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
    a {
      white-space: nowrap;
    }
  }
  .project-item_figure-wrap {
    display:block;
    text-decoration: none;
    overflow:hidden;
    border: 1px solid $lightgrey;
  }
  .project-item_figure {
    width: 100%;
    position:relative;
    display: block;
  }
  .project-item_figcaption {   
    background: rgba(48, 56, 60, 0.95);
    color: $white;
  }
  .project-item_figcaption-wrap {
    width:100%;
    height: 100%;
  }
  .project-item_img {
    display:block;
    width: 99.36908517%;
    border-style: solid;
    border-color: $lightgrey; 
    border-width: 1px;
  }  
  .project-item_caption {
    color: $white;
    font-family: $sans-serif;
    font-weight: $light;    
    padding: 8%;
  }
  .project-item_link {
    display:block;
    text-decoration: none;
    /* this is a hack to get more hit area coverage */
    em {
      display:block;
      @include px_to_rem("width", 125 );
      @include px_to_rem("height", 35 );
      @include px_to_rem("line-height", 35 );
      text-align: center;
      text-transform: uppercase;
      text-decoration: none; 
      border: 1px solid $white;
      color: $white;
      font-style: normal;
      font-weight: $normal;
      margin: 10px auto;
      z-index: 10000;
      @include transition(background, 0.25);
    }
    &:hover em {
        background-color: rgba(126, 147, 158, 0.5);
    }
  }
}


.project-control {
  display:none;
  text-decoration: none;
  @include font-size(40);
  position: fixed;
  top: 50%;
  padding: 0.2em;
  @include transition(color);

  &:hover {
    color: $lightblue;
  }
}

#previousProject {
left:0;
}
#nextProject {
right:0;
}
.arrow-left {

}

.arrow-right {
} 



.project-detail {
    @include grid-3-3-plus-margins;
    
    .project-control { 
      display: block
    }
    // contains summary and hero
    .project-masthead {
      @include grid-3-3-flush;
      @include animation(fadeInDownBig 0.5s);
      padding-bottom: 40px;
      border-bottom: 4px solid $lightblue;
      margin-bottom: 0; 
    }
    .project-summary {
      @include grid-1-2-flush-left;
      @include animation(bounceInLeft 1.5s);
      p{ color: $darkgrey;}
    }
    .project-hero {
      @include grid-1-2-flush-right;
       @include animation(bounceInRight 1.5s);
      img { max-width: 100%;}
    }
    .project-info { @include grid-3-3-flush; }
    .project-supporting-image {
      display:block;
      margin: 40px auto;
    }
    h2 {
      border-top: none; 
      display:block;
      float:none;
      padding-top: 0;
      @include font-size(36);
      font-weight: $normal;
      border-top: none;
    }
    h3 {
    max-width: 100%;
    font-family: $sans-serif;
    @include font-size(20);
    @include respond-to(900px) { @include font-size(17);} 
    color: $navy;
    padding-top: 15px;
    margin-bottom: 15px;
    border-top-width: 4px;
    border-top-style: solid;
    
    @include respond-to(large_screen) {
      border-top-width: 2px;
    }    
  
  }
  strong {
    font-family: $sans-serif;
  }
  p {
    max-width: 100%;
    margin-left: 0;
    text-align: justify;
    a {
      white-space: nowrap;
    }
  }    
} // .project-detail
