/* 
  HOME
*/

html.home {
  height:100%;
  background: url(../images/bg-portland.jpg) no-repeat center center fixed;
  @include background-size(cover);

  body {
    height: 100%;
    background-color: transparent;
  }

  .logomark {
    display: block;
  }

}

.home {
  
  .global-header {
    top: 47%;
    margin-top: -97px;
    @include animation(fadeInLeft 1.5s);

    .home-link {
      display: none;
    }
  }

  #footer {
    display:none;
  }
  .page-content {
    max-width: 100%;
    width: 100%;
    margin:0;
  }

  .main-navigation {
    width: 100%;
    max-width: $max-global-nav-width;
    overflow:auto;

  .global-page-menu {
    width: 100%;
    float:none;
    position: relative;
    margin: 0 auto;
    text-align: center;

    @include font-size(22);
  
      li.main {
        float:none;
        display:inline-block;
      a {
        padding: 0 34px
      }
    }
    .services {
      margin-right: 120px;
    }

    .about {
      margin-left: 120px;
    } 
  }

} // end dependent on home body class




}


.logomark {
  width: 160px;
  height: 160px;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -85px;
  left:50%;
  margin-left: -71px;
  z-index: 900;
  //@include animation(bounceInDown 1.5s);
  @include animation(rotateIn 1.5s);
  display:none;
  
  &:hover {
    @include transform(scale(1.1) rotate(10deg));
  }
  &:active {
    @include transform(scale(0.75) rotate(10deg));
  }  

}

.site-title {
  @include grid-3-3-plus-margins;
  max-width: $max-page-content-width;
  float:none;

  h1, h2 {
    font-family: $sans-serif;
  }

  h1 {
    color: $navy;
    font-weight: $semibold;
  }

  h2 {
    color: $white;
    font-weight: $light;
  }

}
