.about {

	h2 {
		font-family: $sans-serif;
		font-weight: $semibold;
		@include font-size(27);
		border-bottom: 4px solid $lightblue;
		@include respond-to(large_screen) {
			border-width: 2px;
		}
		padding-bottom: 20px;
		margin-bottom:25px;
		width: 100%;
	
	}

	h3 {
		font-family: $sans-serif;
		color: $navy;
		@include font-size(20);
	}

	section {
		@include grid-3-3-plus-margins;
		p {
			color: $black;
			line-height: 1.5;
			margin-bottom: 2em;
		}
	}
	
} // .about

.about-content-block {
	@include grid-3-3-plus-margins;
	border-bottom: 4px solid $lightgrey;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 25px;
	overflow: auto;
	&:last-of-type {
		border-bottom: none;
	}
	.block-left{
		@include grid-1-3-flush;
		float: left;
		display: block;
		margin: 0 0;



		@include respond-to(large_screen) {
			width: 100%;
		}
		p {
			font-family: $sans-serif;
			strong {
				color: $navy;
			}
		}
	}
	
	.block-right {
		@include grid-2-3-flush;
		margin: 0 0;
		float: left;
		display: block;	
		@include respond-to(large_screen) {
			width: 100%;
		}		
	}

} // .about-content-block