.service {
  @include grid-1-3-plus-margins;
  height: auto;
  vertical-align: top;
  padding-bottom: 40px;

  .thumb {
    width: 100%;
    position:relative;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;    
  }

  h3 {
    width: 100%;
    font-family: $sans-serif;
    @include font-size(22);
    padding-top: 15px;
    margin-bottom: 15px;
    border-top-width: 4px;
    border-top-style: solid;
    color: $navy;
  }
  strong {
    font-family: $sans-serif;
  }
  p {
    width: 100%;
    margin-left: 0;
    text-align: left;
    //font-size: 15px;
    line-height: 1.5;
    a {
      white-space: nowrap;
      color: $lightblue;
      font-weight: $bold;
    }
  }
}